@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-header .fc-toolbar-title {
  font-size: 10px; /* Adjust the font size here */
}


@font-face {
    font-family: interblack;
    src: url('./assets/fonts/Inter-Black.ttf') format("truetype");
}

@font-face {
    font-family: interbold;
    src: url('./assets/fonts/Inter-Bold.ttf') format("truetype");
}
@font-face {
    font-family: interextrabold;
    src: url('./assets/fonts/Inter-ExtraBold.ttf') format("truetype");
}
@font-face {
    font-family: inter-extralight;
    src: url('./assets/fonts/Inter-ExtraLight.ttf') format("truetype");
}
@font-face {
    font-family: inter-light;
    src: url('./assets/fonts/Inter-Light.ttf') format("truetype");
}
@font-face {
    font-family: inter-medium;
    src: url('./assets/fonts/Inter-Medium.ttf') format("truetype");
}
@font-face {
    font-family: inter-regular;
    src: url('./assets/fonts/Inter-Regular.ttf') format("truetype");
}
@font-face {
    font-family: inter-semibold;
    src: url('./assets/fonts/Inter-SemiBold.ttf') format("truetype");
}

@font-face {
    font-family: inter-thin;
    src: url('./assets/fonts/Inter-Thin.ttf') format("truetype");
}


::-webkit-scrollbar {
    width: 2px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #5B6BD4; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
  }



  .site-form-in-drawer-wrapper {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100%;
    padding: 10px 16px;
    text-align: right;
    background: #fff;
    border-top: 1px solid #e9e9e9;
  }



  .scalar-card {
    @apply relative transition-transform duration-300 ease-in-out hover:scale-105;
  }


  .scalar-cardlg {
    @apply relative transition-transform duration-300 ease-in-out hover:scale-125;
  }


  .scalar-cardsm {
    @apply relative transition-transform duration-200 ease-in-out hover:scale-[102%];
  }
